<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Login" value="a.kurenkova@abbyy-ls.com"/>
    <add key="Password" value ="iJUd3jMF4NV5LSV1"/>
    <add key="DevUrl" value ="http://www.cat-stage.perevedem.local/"/>
    <add key="StageUrl" value="http://www.cat-stage.perevedem.local"/>
    <add key="StableUrl" value="http://cat-stable.abbyy-ls.com"/>
    <add key="ProjectName" value ="TestProject"/>
    <add key="DocumentFile" value="\\cat-stage\Share\CAT\TestFiles\English.docx"/>
    <add key="ResultPath" value="\\cat-stage\Share\CAT\TestResult\Result"/>
    <add key ="TMName" value ="TestTM"/>
   
  </appSettings>
</configuration>