<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration" />
	</configSections>

	<ExtConfigure>
		<Include>
			<XmlFile Path="configs\AgentSpecific.xml" />
			<XmlFile Path="configs\TestUsers.xml" Required="false"/>
			<XmlFile Path="configs\AolUsers.xml" Required="false"/>
			<XmlFile Path="configs\CourseraUsers.xml" Required="false"/>
		</Include>
	<!--
	Login - основной пользователь
	Login2 - альтернативный пользователь
	TestRightsLogin - пользователь для тестирования работы с разными правами доступа
	-->
		<UserInfo
			Login2 ="ringo123@mailforspam.com"
			Password2 ="31415926"
			NickName2 ="Ringo Star"
			
			TestRightsLogin ="batman@mailforspam.com"
			TestRightsPassword ="193927"
			TestRightsNickName ="Bat Man"
	/>

	</ExtConfigure>

</configuration>