<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Login" value="bob@test.ru"/>
    <add key="Password" value ="12345"/>
    <add key="DevUrl" value ="http://www.cat-dev.perevedem.local/"/>
    <add key="StageUrl" value="http://www.cat-stage.perevedem.local"/>
    <add key="StageUrl2" value ="http://cat-stage2.abbyy-ls.com"/>
    <add key="StableUrl2" value="http://cat-stable2.perevedem.local"/>
    <add key="ProjectName" value ="TestProject"/>
    <add key="DocumentFile" value="../../../TestingFiles/English.docx"/>
    <add key="TMXFile" value="../../../TestingFiles/Earth.tmx"/>
    <add key="TMXFile2" value="../../../TestingFiles/tmxEng2.tmx"/>
    <add key="SecondTMXFile" value="../../../TestingFiles/TextEngTestAddTMX.tmx"/>
    <add key="ImportGlossaryFile" value="../../../TestingFiles/TestGlossary.xlsx"/>
    <add key="TestImageFile" value="../../../TestingFiles/TestImage.jpg"/>
    <add key="ResultPath" value="\\cat-dev\Share\CAT\TestResult\Result"/>
    <add key="TMName" value ="TestTM"/>
    <add key="GlossaryName" value ="TestGlossary"/>
    <add key="DeadlineDate" value="03.03.2016"/>
    <add key="DevWorkspace" value="https://test-acc.cat-dev.perevedem.local/smartcat/workspace/"/>
    <add key="StageWorkspace" value="https://test-acc.cat-stage.perevedem.local/smartcat/workspace/"/>
    <add key="StageWorkspace2" value="http://cat-stage2.abbyy-ls.com/ru/smartcat/workspace/"/>
    <add key="StableWorkspace2" value="https://test-acc.cat-stable2.perevedem.local/smartcat/workspace/"/>
  </appSettings>
</configuration>