<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Login" value="a.kurenkova@abbyy-ls.com" />
    <add key="Password" value="314password" />
    <add key="UserName" value="Alena" />
    <add key="Login2" value="bobby@mailforspam.com" />
    <add key="Password2" value="YrdyNpnnu" />
    <add key="UserName2" value="Bobby Test" />
    <add key="DevUrl" value="http://www.cat-dev.perevedem.local/" />
    <add key="StageUrl" value="http://www.cat-stage.perevedem.local" />
    <add key="StageUrl1" value="http://smartcat.stage1.als.local" />
    <add key="StageUrl2" value="http://smartcat.stage2.als.local" />
    <add key="StableUrl2" value="http://cat-stable2.perevedem.local" />
    <add key="StageUrl3" value="https://cat-stage3.perevedem.local" />
    <add key="StageUrl3lpro" value="http://cat-stage3-lpro.perevedem.local/en" />
    <add key="StageUrl3Coursera" value="https://cat-stage3-coursera.perevedem.local" />
    <add key="StageUrl1Admin" value="http://smartcat.stage1.als.local:81" />
    <add key="StageUrl2Admin" value="http://smartcat.stage2.als.local:81" />
    <add key="StageUrl3Admin" value="http://cat-stage3.perevedem.local:81" />
    <add key="ProjectName" value="TestProject" />
    <add key="ProjectNameExportTestOneDoc" value="TestProjectTestExportOneDocumentUniqueName" />
    <add key="ProjectNameExportTestMultiDoc" value="TestProjectTestExportMultiDocumentsUniqueName" />
    <add key="DocumentFile" value="../../../TestingFiles/littleEarth.docx" />
    <add key="DocumentFileToConfirm" value="../../../TestingFiles/FilesForConfirm/testToConfirm.txt" />
    <add key="DocumentFileToConfirm2" value="../../../TestingFiles/FilesForConfirm/testToConfirm2.txt" />
    <add key="DocumentRTF" value="../../../TestingFiles/rtf1.rtf" />
    <add key="TMXFile" value="../../../TestingFiles/Earth.tmx" />
    <add key="SecondTMXFile" value="../../../TestingFiles/TextEngTestAddTMX.tmx" />
    <add key="EditorTXTFile" value="../../../TestingFiles/FileForTestTM/textWithoutTags.txt" />
    <add key="EditorTMXFile" value="../../../TestingFiles/FileForTestTM/textWithoutTags.tmx" />
    <add key="ImportGlossaryFile" value="../../../TestingFiles/TestGlossary.xlsx" />
    <add key="TestImageFile" value="../../../TestingFiles/TestImage.jpg" />
    <add key="TestAudioFile" value="../../../TestingFiles/TestAudio.mp3" />
    <add key="ResultPath" value="\\cat-dev\Share\CAT\TestResult\Result" />
    <add key="TMName" value="TestTM" />
    <add key="GlossaryName" value="TestGlossary" />
    <add key="DeadlineDate" value="03/03/2016" />
    <add key="DevWorkspace" value="https://test-acc.cat-dev.perevedem.local/smartcat/workspace/" />
    <add key="StageWorkspace" value="https://test-acc.cat-stage.perevedem.local/smartcat/workspace/" />
    <add key="StageWorkspace2" value="http://smartcat.stage2.als.local/workspace/" />
    <add key="StageWorkspace3" value="https://cat-stage3-lpro.perevedem.local/Start" />
    <add key="StableWorkspace2" value="https://test-acc.cat-stable2.perevedem.local/smartcat/workspace/" />
    <add key="StableWorkspace1" value="http://smartcat.stage1.als.local/workspace/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>