<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration"/>
	</configSections>

	<ExtConfigure>

	<Include>
		<XmlFile Path="configs\AgentSpecific.xml" />
		<XmlFile Path="configs\CourseraUsers.xml" Required="false"/>
	</Include>

	</ExtConfigure>

</configuration>