<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration"/>
	</configSections>

	<ExtConfigure>

	<Include>
		<XmlFile Path="configs\AgentSpecific.xml" />
	</Include>

	<TestUsers>
		<TestUser Login="testuserivanpetrov@mailforspam.com"	Password="12trC89p"/>
		<TestUser Login="testuservasyasidorov@mailforspam.com"	Password="48df5T56"/>
		<TestUser Login="testusermarinaolegovna@mailforspam.com"	Password="8rfgDfre7"/>
		<TestUser Login="testusermolgavladimirova@mailforspam.com"	Password="7cdRfs85"/>
		<TestUser Login="testuserpavelkrasov@mailforspam.com"	Password="fererG785"/>
		<TestUser Login="testusernikolaylebedev@mailforspam.com"	Password="789Fwf5rr"/>
		<TestUser Login="testuseredgarivanov@mailforspam.com"	Password="fre78Ff*5"/>
		<TestUser Login="testuserfedyavasilyev@mailforspam.com"	Password="fver5433f"/>
		<TestUser Login="testuserartursokolov@mailforspam.com"	Password="fce344geeD"/>
		<TestUser Login="testuserantonborisov@mailforspam.com"	Password="3rDvfr64r"/>
		<TestUser Login="testuserritinamamedova@mailforspam.com"	Password="3re3Feeer"/>
		<TestUser Login="testusermariyatitova@mailforspam.com"	Password="342Fwef5F"/>
		<TestUser Login="testuserigorkarpov@mailforspam.com"	Password="dfdftg4332"/>
		<TestUser Login="testuservasilisaandreeva@mailforspam.com"	Password="vdffFrre54"/>
		<TestUser Login="testusernatalyamalceva@mailforspam.com"	Password="vfe43FRg3"/>
		<TestUser Login="testuserolegarcer@mailforspam.com"	Password="fere54Ged"/>
	</TestUsers>

	</ExtConfigure>

</configuration>