<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LoginUser1" value="smallname@mailforspam.com" />
    <add key="LoginUser2" value="bigname@mailforspam.com" />
    <add key="PasswordUser1" value="123456" />
    <add key="PasswordUser1newPass" value="0123456"/>
    <add key="PasswordUser1forbiddenPass" value="123"/>
    <add key="PasswordUser1limitPass" value="012345"/>
    <add key="PasswordUser2" value="4bj1bnVZQYrI4nKn" />
    <add key="StageUrl2" value="http://coursera.stage2.als.local/en" />
    <add key="StageUrl3" value="http://cat-stage3-coursera.perevedem.local" />
    <add key="userName1" value="Bob" />
    <add key="userSurname1" value="Test" />
    <add key="TestImageFile" value="../../../TestingFiles/TestImage.jpg" />
    <add key="LoginTestUser1" value="testuserivanpetrov@mailforspam.com" />
    <add key="LoginTestUser2" value="testuservasyasidorov@mailforspam.com" />
    <add key="LoginTestUser3" value="testusermarinaolegovna@mailforspam.com" />
    <add key="LoginTestUser4" value="testusermolgavladimirova@mailforspam.com" />
    <add key="LoginTestUser5" value="testuserpavelkrasov@mailforspam.com" />
    <add key="LoginTestUser6" value="testusernikolaylebedev@mailforspam.com" />
    <add key="LoginTestUser7" value="testuseredgarivanov@mailforspam.com" />
    <add key="LoginTestUser8" value="testuserfedyavasilyev@mailforspam.com" />
    <add key="LoginTestUser9" value="testuserartursokolov@mailforspam.com" />
    <add key="LoginTestUser10" value="testuserantonborisov@mailforspam.com" />
    <add key="LoginTestUser11" value="testuserritinamamedova@mailforspam.com" />
    <add key="LoginTestUser12" value="testusermariyatitova@mailforspam.com" />
    <add key="LoginTestUser13" value="testuserigorkarpov@mailforspam.com" />
    <add key="LoginTestUser14" value="testuservasilisaandreeva@mailforspam.com" />
    <add key="LoginTestUser15" value="testusernatalyamalceva@mailforspam.com" />
    <add key="LoginTestUser16" value="testuserolegarcer@mailforspam.com" />
    <add key="PasswordTestUser1" value="12trC89p" />
    <add key="PasswordTestUser2" value="48df5T56" />
    <add key="PasswordTestUser3" value="8rfgDfre7" />
    <add key="PasswordTestUser4" value="7cdRfs85" />
    <add key="PasswordTestUser5" value="fererG785" />
    <add key="PasswordTestUser6" value="789Fwf5rr" />
    <add key="PasswordTestUser7" value="fre78Ff*5" />
    <add key="PasswordTestUser8" value="fver5433f" />
    <add key="PasswordTestUser9" value="fce344geeD" />
    <add key="PasswordTestUser10" value="3rDvfr64r" />
    <add key="PasswordTestUser11" value="3re3Feeer" />
    <add key="PasswordTestUser12" value="342Fwef5F" />
    <add key="PasswordTestUser13" value="dfdftg4332" />
    <add key="PasswordTestUser14" value="vdffFrre54" />
    <add key="PasswordTestUser15" value="vfe43FRg3" />
    <add key="PasswordTestUser16" value="fere54Ged" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>