<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration"/>
	</configSections>

	<ExtConfigure>
		<Include>
			<XmlFile Path="configs\AgentSpecific.xml"/>
			<XmlFile Path="configs\TestUsers.xml"/>
		</Include>
	</ExtConfigure>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
