<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration"/>
	</configSections>
	
	<ExtConfigure>
		<UserInfo
			
			Login ="TeamCity"
			Password ="TeamCityAndX86"
			Site = "blackhole.perevedem.ru"
			
		/>
	</ExtConfigure>
	
</configuration>