<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration" />
	</configSections>

	<ExtConfigure>
		<Include>
			<XmlFile Path="configs\AgentSpecific.xml" />
			<XmlFile Path="configs\TestUsers.xml" Required="false"/>
			<XmlFile Path="configs\CourseraUsers.xml" Required="false"/>
		</Include>

		<UserInfo

	Login ="bobby@mailforspam.com"
	Password ="YrdyNpnnu"
	UserName ="Bobby Test"
	
	Login2 ="ringo1243@mailforspam.com"
	Password2 ="31415926"
	UserName2 ="Ringo Star"
		/>

	</ExtConfigure>

</configuration>